.btn {
  cursor: pointer;
  outline: none;
  border-radius: var(--radius-8);
  font-size: var(--g-14);
  border: 1px solid;
  background: transparent;
  border-color: transparent;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition: background-color, color, font-weight, 0.2s ease-in;
}

.btn.xs {
  padding: var(--pd-sm-smd);
}

.btn.sm {
  padding: 10px var(--g-12);
}

.btn.md {
  padding: var(--pd-smd-md);
}

.btn.lg {
  padding: var(--g-16) var(--g-16);
}

.btn.outline {
  color: var(--white);
  background: transparent;
  border-color: initial;
}

.btn.outline.primary {
  background: transparent;
  border-color: var(--primary-05);
  color: var(--primary-05);
}
.btn.outline.primary:hover {
  background: var(--primary-05);
  border-color: transparent;
  color: var(--white);
  transition: background-color, color, font-weight, 0.2s ease-in;
  transition-timing-function: ease-out;
}

.btn.fade.primary {
  background: var(--primary-01);
  color: var(--primary-05);
}
.btn.fade.primary:hover {
  background: var(--primary-02);
  color: var(--primary-06);
  border-color: var(--primary-05);
  transition: background-color, color, font-weight, 0.2s ease-in;
  transition-timing-function: ease-out;
}

.btn.fd {
  color: var(--dark);
  background: var(--fade);
}

.btn.gh {
  background: transparent;
  border-color: transparent;
  color: inherit;
}

.btn.nt {
  color: var(--white);
  background: var(--black);
}

.btn.primary:not(.btn.outline.primary, .btn.fade.primary) {
  color: var(--white);
  background: var(--primary-05);
}
.btn.primary:not(.btn.outline.primary, .btn.fade.primary):hover {
  background: var(--primary-04);
  transition: background-color, color, font-weight, 0.2s ease-in;
  transition-timing-function: ease-out;
}

.btn.primary.btn.primary:not(.btn.outline.primary, .btn.fade.primary).active {
  background: var(--primary-06);
}

.btn.positive {
  color: var(--white);
  background: var(--positive-05);
}

.btn.secondary {
  color: var(--white);
  background: var(--secondary);
}

.btn.warning {
  color: var(--white);
  background: var(--caution-05);
}

.btn.negative {
  color: var(--white);
  background: var(--negative-05);
}

.btn.ol.nt {
  color: var(--dark);
  border-color: var(--stroke);
}

.btn.disable {
  background: var(--disable);
  color: var(--grey);
}

.btn.ol.primary {
  color: var(--primary-05);
  border-color: var(--primary-05);
}

.btn.fd.primary {
  color: var(--primary-05);
  background: var(--primary-01);
}

.btn.i-lf {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--g-8);
}

.btn.i-rg {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: var(--g-8);
}

.btn-group {
  display: flex;
  gap: var(--g-8);
}

.btn-group.btn-adjacent {
  gap: 0;
}
.btn-group.btn-adjacent .btn {
  border-radius: 0;
}

.btn-group.btn-adjacent > .btn:first-child {
  border-top-left-radius: var(--radius-8);
  border-bottom-left-radius: var(--radius-8);
}
.btn-group.btn-adjacent > .btn:last-child {
  border-top-right-radius: var(--radius-8);
  border-bottom-right-radius: var(--radius-8);
}/*# sourceMappingURL=button.css.map */