:root {
    --g-4:4px;
    --g-6:6px;
    --g-8:8px;
    --g-12:12px;
    --g-16:16px;
    --g-24:24px;
    --g-32:32px;
    --g-40:40px;
    --g-48:48px;
    --g-56:56px;
    --g-64:64px;
    --g-72:72px;
    --g-80:80px;

    --border-normal:1px solid var(--grey-stroke);
    --center-hr:0 auto;

    --typeface:'Proxima Nova', Georgia, sans-serif;
    --single-14-rg:normal normal normal 14px/16px var(--typeface)

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: bold;
}

h1 {
    font-size: var(--g-64);
    line-height: var(--g-72);
}

h2 {
    font-size: var(--g-56);
    line-height: var(--g-64);
}

h3 {
    font-size: var(--g-48);
    line-height: var(--g-56);
}

h4 {
    font-size: var(--g-40);
    line-height: var(--g-48);
}

h5 {
    font-size: var(--g-32);
    line-height: var(--g-40);
}

h6 {
    font-size: var(--g-24);
    line-height: var(--g-32);
}