@import './color.css';
@import './guide.css';

$ease-color: color .02s ease-in-out;

html,
body,
.App {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: unset;
}

.dark {
    background: var(--dark-bg);
}

body {
    font-size: 14px;
    font-family: var(--typeface);
    color: var(--grey);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    display: block;
    text-decoration: none;
    color: var(--black);
}

.page {
    height: 100%;
    background: var(--dark);
}

.section {
    height: 100%;
}

.header {
    padding: var(--g-16) 0;
    background: var(--dark-bg);

    .logo {
        display: inline-flex;

        img {
            height: 20px;
        }
    }
}

.Grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-top: var(--g-24);
    gap: var(--g-24);
}

.Content {
    width: 100%;
}

.container {
    width: 1280px;
    margin: var(--center-hr);
}

.navigation {
    position: -webkit-sticky;
    position: sticky;

    .list {
        margin-bottom: var(--g-24);
    }

    .nav-dropdown {
        display: none;
    }

    ul {

        li {
            position: relative;
            margin-bottom: var(--g-8);

            a {
                font: var(--single-14-rg);
                color: var(--grey-disable-strong);
                padding: var(--g-6) var(--g-16);
                padding-left: 0;
                transition: $ease-color;

                &:hover {
                    color: var(--white);
                }
            }

            .active {
                color: var(--primary-04);

                &:hover {
                    color: var(--white);
                    font-weight: bold;
                }
            }
        }
    }

    .nav-head {
        font-size: var(--g-16);
        line-height: var(--g-24);
        margin: 0 0 var(--g-12) 0;
        font-weight: 600;
        color: var(--white);
    }

}

.colorPage {
    background: var(--warning-m);
}