@import './color.css';
@import './guide.css';
@font-face {
  font-family: "Proxima Vara";
  src: url("./fonts/Proxima Vara-VF.ttf");
  font-weight: 100 900;
}
@font-face {
  font-family: "Source Code Pro";
  src: url("./fonts/SourceCodePro-VariableFont_wght.ttf");
  font-weight: 100 800;
}
:root {
  --dark-bg: #121316;
  --dark-bg-02: #1a1b1e;
  --cards-bg: #222327;
  --vara: "Proxima Vara";
  --sourcepro: "Source Code Pro";
  --border: 1px solid;
  --grad: linear-gradient(to right, var(--primary-05), #F12BAA, var(--caution-05));
  --grad-full: linear-gradient(to right, var(--white), var(--primary-05), #F12BAA, var(--caution-05), var(--positive-05), var(--negative-05), var(--white), ) ;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body,
.App {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: unset;
}

p {
  line-height: 1.5;
}

.dark {
  background: var(--dark-bg);
  color: var(--white);
}

body {
  min-height: 100%;
  height: 100%;
  font-family: var(--vara);
}

body::-webkit-scrollbar {
  width: var(--g-12);
  background: transparent;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background: var(--black);
}

body::-webkit-scrollbar-thumb {
  background: var(--white);
  border: var(--border) var(--black);
}

button {
  font-family: var(--vara);
}

p {
  font-size: var(--g-16);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: var(--black);
}

.page {
  height: 100%;
  background: var(--dark);
}

.section {
  height: 100%;
}

code {
  font-family: var(--sourcepro) !important;
}

.header {
  position: sticky;
  top: 0;
  padding: 20px 0;
  background: var(--dark-bg);
  border-bottom: 1px solid;
  border-color: var(--black);
  z-index: 3;
}
.header .identityBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--disable-02);
}
.header .identityBar .logo {
  display: inline-flex;
}
.header .identityBar .logo img {
  height: 20px;
}

.Grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-top: var(--g-24);
  gap: var(--g-24);
}

.Content {
  width: 100%;
}

.container {
  width: 1280px;
  margin: var(--center-hr);
}

.navigation {
  position: sticky;
  top: 89px;
  height: calc(100vh - 6rem);
}
.navigation .list {
  margin-bottom: var(--g-24);
}
.navigation .nav-dropdown {
  max-height: 0;
  flex-direction: column;
  overflow: hidden;
  transition: max-height 0.1s ease-out 0s;
}
.navigation .nav-dropdown ul {
  margin: var(--g-4) var(--g-12);
}
.navigation .nav-dropdown ul li {
  margin: 0;
}
.navigation .nav-dropdown ul li a {
  position: relative;
  padding-left: var(--g-24);
  border-left: var(--border) var(--black);
}
.navigation .nav-dropdown ul a.active {
  border-left: var(--border) var(--primary-05);
  font-weight: 500;
}
.navigation .nav-dropdown.open {
  max-height: 500px;
  transition: max-height 0.2s ease-in 0s;
}
.navigation ul li {
  position: relative;
  overflow: hidden;
  margin: var(--g-4) 0;
}
.navigation ul li a {
  font: var(--single-14-rg);
  color: var(--disable-02);
  padding: var(--g-6) var(--g-16);
  padding-left: 0;
  transition: color 0.02s ease-in-out;
}
.navigation ul li a:hover {
  color: var(--white);
}
.navigation ul li .hasDropDown {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
.navigation ul li .hasDropDown.down.active {
  color: var(--white);
}
.navigation ul li .right::after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(./assets/right.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.navigation ul li .down::after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(./assets/down.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.navigation ul li a.active {
  color: var(--primary-05);
  font-weight: 500;
}
.navigation ul li a.active:hover {
  color: var(--white);
}
.navigation .nav-head {
  line-height: var(--g-24);
  margin: 0 0 var(--g-12) 0;
  font-weight: 500;
  color: var(--white);
}

.title {
  margin-bottom: var(--g-8);
}

.colorPalette {
  display: flex;
  flex-direction: column;
}
.colorPalette .cardTitle {
  color: var(--white);
  display: flex;
  align-items: center;
  font-size: var(--g-18);
  font-weight: 500;
  margin-bottom: var(--g-8);
}
.colorPalette .baseIcon,
.colorPalette .prmIcon,
.colorPalette .posIcon,
.colorPalette .grIcon {
  width: var(--g-12);
  height: var(--g-12);
  margin-right: var(--g-12);
  border-radius: var(--g-4);
  border: var(--border) var(--stroke);
}
.colorPalette .baseIcon {
  background: var(--white);
}
.colorPalette .grIcon {
  background: var(--grey);
}
.colorPalette .prmIcon {
  background: var(--primary-05);
}
.colorPalette .posIcon {
  background: var(--positive-05);
}
.colorPalette .cardSubTitle {
  margin-bottom: var(--g-24);
  color: var(--disable-02);
}
.colorPalette .cardsGrid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: var(--g-16);
  grid-row-gap: var(--g-24);
  margin-bottom: var(--g-48);
}
.colorPalette .cardsGrid .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.colorPalette .cardsGrid .cards .colorBox,
.colorPalette .cardsGrid .cards .colorInfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.colorPalette .cardsGrid .cards .colorBox {
  display: block;
  position: relative;
  text-align: center;
  padding: var(--g-24) 0;
  border-radius: var(--g-8);
}
.colorPalette .cardsGrid .cards .colorBox .colorName {
  font-size: var(--g-16);
  font-weight: 500;
  line-height: var(--g-24);
}
.colorPalette .cardsGrid .cards .colorBox .contrastCheck {
  position: absolute;
  font-size: var(--g-12);
  left: 12px;
  top: 12px;
}
.colorPalette .cardsGrid .cards .colorBox .overlay {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: var(--g-8);
  justify-content: center;
  align-items: center;
  background: var(--cards-bg);
  border-radius: var(--g-6);
  transition: all 0.2s ease-in-out;
}
.colorPalette .cardsGrid .cards .colorBox .overlay .colorHex {
  width: 100%;
}
.colorPalette .cardsGrid .cards .colorBox .overlay img {
  height: var(--g-20);
}
.colorPalette .cardsGrid .cards .colorBox .overlay:hover {
  opacity: 1;
}
.colorPalette .cardsGrid .cards .colorInfo {
  gap: 8px;
  align-self: stretch;
  text-align: center;
}
.colorPalette .cardsGrid .cards .colorInfo .colorNumbers,
.colorPalette .cardsGrid .cards .colorInfo .colorHex {
  font-size: 14px;
}
.colorPalette .cardsGrid .cards .colorInfo .colorNumbers {
  position: relative;
  color: var(--white);
  padding-top: var(--g-12);
}
.colorPalette .cardsGrid .cards .colorInfo .colorNumbers .overlay {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: var(--g-4);
  display: flex;
  flex-direction: column;
  gap: var(--g-8);
  justify-content: center;
  align-items: center;
  background: var(--cards-bg);
  border-radius: var(--g-6);
  transition: all 0.2s ease-in-out;
}
.colorPalette .cardsGrid .cards .colorInfo .colorNumbers .overlay:hover {
  opacity: 1;
}
.colorPalette .cardsGrid .cards .colorInfo .colorNumbers .overlay::after {
  content: "";
  background-image: url(./assets/copy_small.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
.colorPalette .cardsGrid .cards .colorInfo .colorNumbers .overlay img {
  height: var(--g-20);
}

.ctWr {
  display: grid;
}
.ctWr .ctHd {
  display: grid;
  grid-row-gap: var(--g-16);
}
.ctWr .ctHd img {
  margin-bottom: var(--g-48);
}
.ctWr .ctHd .ctTl {
  font-weight: 500;
  font-size: var(--g-56);
  line-height: var(--g-64);
}
.ctWr .ctHd .ctTl strong {
  font-size: 20px;
}
.ctWr .ctHd .ctSt {
  color: var(--disable-02);
  font-size: var(--g-16);
  line-height: var(--paragraph);
}
.ctWr .ctBd {
  display: flex;
  flex-direction: column;
}
.ctWr .ctBd p {
  color: var(--white);
  font: var(--single-16-rg);
}
.ctWr .ctBd span {
  background: none !important;
}
.ctWr .ctBd:first-child {
  border-top: 0;
}
.ctWr .ctBd .buttonSizes {
  margin-top: var(--g-16);
}
.ctWr .ctTl h6 {
  font-weight: 500;
}

.copyIcon {
  background: url(./assets/copy.svg) center no-repeat;
  height: var(--g-16);
  width: var(--g-16);
}

.eTDmbk {
  background: var(--cards-bg) !important;
  padding: var(--g-16) var(--g-12) !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.eTDmbk .dEOhvB {
  background: none !important;
}
.eTDmbk span {
  overflow: hidden;
}
.eTDmbk .dEOhvB {
  position: relative;
  top: 0;
  right: 0;
}

.callout {
  border-left: 3px solid;
  padding: var(--g-16);
  margin: var(--g-24) 0;
  line-height: 1.5;
}
.callout code {
  color: var(--white);
  background: none;
}
.callout .className {
  color: var(--white);
}

.co-warning {
  background: #191a1d;
  border-left-color: var(--caution-03);
  color: var(--caution-03);
}
.co-warning code {
  color: var(--secondary-03);
}

.whiteText {
  color: var(--white);
}

.iconBox {
  padding: var(--g-4);
  cursor: pointer;
  display: flex;
  align-self: center;
  transition: background-color 0.2s ease-in-out;
}
.iconBox:hover > svg > .iconStyle {
  stroke: var(--white);
}
.iconBox .iconStyle {
  transition: stroke 0.2s ease-in-out;
}

.typography {
  background: var(--dark-bg);
  padding: var(--g-40) 0;
}
.typography .headingTypo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--g-32);
}
.typography .headingTypo h1,
.typography .headingTypo h2,
.typography .headingTypo h3,
.typography .headingTypo h4,
.typography .headingTypo h5 {
  display: flex;
  align-items: center;
  line-height: var(--g-72);
}
.typography .headingTypo h1::before,
.typography .headingTypo h2::before,
.typography .headingTypo h3::before,
.typography .headingTypo h4::before,
.typography .headingTypo h5::before {
  margin-right: var(--g-16);
  font: var(--single-14-rg);
  background: rgba(255, 255, 255, 0.08);
  padding: var(--g-8);
  border-radius: var(--g-4);
  border: var(--border);
  border-color: var(--black);
}
.typography .headingTypo h1::before {
  content: "h1";
}
.typography .headingTypo h2::before {
  content: "h2";
}
.typography .headingTypo h3::before {
  content: "h3";
}
.typography .headingTypo h4::before {
  content: "h4";
}
.typography .headingTypo h5::before {
  content: "h5";
}

footer {
  width: 100%;
  border-top: var(--border) var(--black);
  margin-top: 160px;
  height: 480px;
}

.tableData pre.hollow code {
  background: none;
}/*# sourceMappingURL=main.css.map */