@font-face {
    font-family: 'Proxima Vara';
    src: url("./fonts/Proxima\ Vara-VF.ttf");
    font-weight: 100 900;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url("./fonts/SourceCodePro-VariableFont_wght.ttf");
    font-weight: 100 800;
}

@import './color.css';
@import './guide.css';
// @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --dark-bg: #121316;
    --dark-bg-02: #1a1b1e;
    --cards-bg: #222327;

    --vara: 'Proxima Vara';
    --sourcepro: 'Source Code Pro';

    --border: 1px solid;
    --grad: linear-gradient(to right, var(--primary-05), #F12BAA, var(--caution-05));
    --grad-full: linear-gradient(to right, var(--white), var(--primary-05), #F12BAA, var(--caution-05), var(--positive-05), var(--negative-05), var(--white), )
}

$ease-color: color .02s ease-in-out;
$ease: all .2s ease-in-out;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


html,
body,
.App {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: unset;
}

p {
    line-height: 1.5;
}

.dark {
    background: var(--dark-bg);
    color: var(--white);
}

body {
    min-height: 100%;
    height: 100%;
    font-family: var(--vara);
}

body::-webkit-scrollbar {
    width: var(--g-12);
    background: transparent;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background: var(--black);
}

body::-webkit-scrollbar-thumb {
    background: var(--white);
    border: var(--border) var(--black);
}

button {
    font-family: var(--vara);
}

p {
    font-size: var(--g-16);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    display: block;
    text-decoration: none;
    color: var(--black);
}

.page {
    height: 100%;
    background: var(--dark);
}

.section {
    height: 100%;
}

code {
    font-family: var(--sourcepro) !important;
}

.header {
    position: sticky;
    top: 0;
    padding: 20px 0;
    background: var(--dark-bg);
    border-bottom: 1px solid;
    border-color: var(--black);
    // border-bottom: var(--border);
    // border-image-slice: 1;
    // border-width: 1px;
    // border-image-source: var(--grad);
    z-index: 3;

    .identityBar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: var(--disable-02);

        .logo {
            display: inline-flex;

            img {
                height: 20px;
            }
        }
    }
}

.Grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-top: var(--g-24);
    gap: var(--g-24);
}

.container {
    width: 1280px;
    margin: var(--center-hr);
}

.navigation {
    position: -webkit-sticky;
    position: sticky;
    top: 89px;
    height: calc(100vh - 6rem);

    .list {
        margin-bottom: var(--g-24);
    }

    .nav-dropdown {
        max-height: 0;
        flex-direction: column;
        overflow: hidden;
        transition: max-height 0.1s ease-out 0s;


        ul {

            margin: var(--g-4) var(--g-12);

            li {
                margin: 0;

                a {
                    position: relative;
                    padding-left: var(--g-24);
                    border-left: var(--border) var(--black);
                }
            }

            a.active {
                border-left: var(--border) var(--primary-05);
                font-weight: 500;
            }
        }
    }

    .nav-dropdown.open {
        max-height: 500px;
        transition: max-height 0.2s ease-in 0s;
    }

    ul {

        li {
            position: relative;
            overflow: hidden;
            margin: var(--g-4) 0;

            a {
                font: var(--single-14-rg);
                color: var(--disable-02);
                padding: var(--g-6) var(--g-16);
                padding-left: 0;
                transition: $ease-color;

                &:hover {
                    color: var(--white);
                }

            }

            .hasDropDown {
                display: flex;
                justify-content: space-between;
                vertical-align: middle;
            }

            .hasDropDown.down.active {
                color: var(--white);
            }

            .right {
                &::after {
                    content: "";
                    width: 16px;
                    height: 16px;
                    background-image: url(./assets/right.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }

            .down {
                &::after {
                    content: "";
                    width: 16px;
                    height: 16px;
                    background-image: url(./assets/down.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }

            a.active {
                color: var(--primary-05);
                font-weight: 500;

                &:hover {
                    color: var(--white);
                }
            }
        }
    }

    .nav-head {
        line-height: var(--g-24);
        margin: 0 0 var(--g-12) 0;
        font-weight: 500;
        color: var(--white);
    }

}

.title {
    margin-bottom: var(--g-8);
}

.colorPalette {
    display: flex;
    flex-direction: column;

    .cardTitle {
        color: var(--white);
        display: flex;
        align-items: center;
        font-size: var(--g-18);
        font-weight: 500;
        margin-bottom: var(--g-8);
    }

    .baseIcon,
    .prmIcon,
    .posIcon,
    .grIcon {
        width: var(--g-12);
        height: var(--g-12);
        margin-right: var(--g-12);
        border-radius: var(--g-4);
        border: var(--border) var(--stroke);
    }

    .baseIcon {
        background: var(--white);
    }

    .grIcon {
        background: var(--grey);
    }

    .prmIcon {
        background: var(--primary-05);
    }

    .posIcon {
        background: var(--positive-05);
    }

    .cardSubTitle {
        margin-bottom: var(--g-24);
        color: var(--disable-02);
    }


    .cardsGrid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-column-gap: var(--g-16);
        grid-row-gap: var(--g-24);
        margin-bottom: var(--g-48);

        .cards {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            // box-shadow: 0px 12px 16px -4px rgba(0, 0, 0, 0.08), 0px 6px 4px -3px rgba(0, 0, 0, 0.03);

            .colorBox,
            .colorInfo {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .colorBox {
                display: block;
                position: relative;
                text-align: center;
                padding: var(--g-24) 0;
                border-radius: var(--g-8);

                .colorName {
                    font-size: var(--g-16);
                    font-weight: 500;
                    line-height: var(--g-24);
                }

                .contrastCheck {
                    position: absolute;
                    font-size: var(--g-12);
                    left: 12px;
                    top: 12px;
                }

                .overlay {
                    opacity: 0;
                    position: absolute;
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    display: flex;
                    flex-direction: column;
                    gap: var(--g-8);
                    justify-content: center;
                    align-items: center;
                    background: var(--cards-bg);
                    border-radius: var(--g-6);
                    transition: all .2s ease-in-out;


                    .colorHex {
                        width: 100%;
                    }

                    img {
                        height: var(--g-20);
                    }

                    &:hover {
                        opacity: 1;
                    }
                }

            }

            .colorInfo {
                gap: 8px;
                align-self: stretch;
                text-align: center;

                .colorNumbers,
                .colorHex {
                    font-size: 14px;
                }

                .colorNumbers {
                    position: relative;
                    color: var(--white);
                    padding-top: var(--g-12);

                    .overlay {
                        opacity: 0;
                        position: absolute;
                        z-index: 2;
                        width: 100%;
                        height: 100%;
                        top: var(--g-4);
                        display: flex;
                        flex-direction: column;
                        gap: var(--g-8);
                        justify-content: center;
                        align-items: center;
                        background: var(--cards-bg);
                        border-radius: var(--g-6);
                        transition: all .2s ease-in-out;

                        &:hover {
                            opacity: 1;
                        }

                        &::after {
                            content: "";
                            background-image: url(./assets/copy_small.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                            width: 100%;
                            height: 100%;
                        }

                        img {
                            height: var(--g-20);
                        }
                    }
                }
            }
        }
    }
}

.ctWr {
    display: grid;

    .ctHd {
        display: grid;
        grid-row-gap: var(--g-16);

        img {
            margin-bottom: var(--g-48);
        }

        .ctTl {
            font-weight: 500;
            font-size: var(--g-56);
            line-height: var(--g-64);

            strong {
                font-size: 20px;
            }
        }

        .ctSt {
            color: var(--disable-02);
            font-size: var(--g-16);
            line-height: var(--paragraph);
        }
    }

    .ctBd {
        display: flex;
        flex-direction: column;

        p {
            color: var(--white);
            font: var(--single-16-rg);
        }

        span {
            background: none !important;
        }

        &:first-child {
            border-top: 0;
        }

        .buttonSizes {
            margin-top: var(--g-16);
        }

    }

    .ctTl {

        h6 {
            font-weight: 500;
        }
    }
}

.copyIcon {
    background: url(./assets/copy.svg) center no-repeat;
    height: var(--g-16);
    width: var(--g-16);
}

.eTDmbk {
    background: var(--cards-bg) !important;
    padding: var(--g-16) var(--g-12) !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .dEOhvB {
        background: none !important;
    }

    span {
        overflow: hidden;
    }

    .dEOhvB {
        position: relative;
        top: 0;
        right: 0;
    }
}

.callout {
    border-left: 3px solid;
    padding: var(--g-16);
    margin: var(--g-24) 0;
    line-height: 1.5;

    code {
        color: var(--white);
        background: none;
    }

    .className {
        color: var(--white);
    }
}

.co-warning {
    background: #191a1d;
    border-left-color: var(--caution-03);
    color: var(--caution-03);

    code {
        color: var(--secondary-03);
    }
}


.whiteText {
    color: var(--white);
}

.iconBox {
    padding: var(--g-4);
    cursor: pointer;
    display: flex;
    align-self: center;
    transition: background-color .2s ease-in-out;

    &:hover>svg>.iconStyle {
        stroke: var(--white);
    }

    .iconStyle {
        transition: stroke .2s ease-in-out;
    }
}

.typography {
    background: var(--dark-bg);
    padding: var(--g-40) 0;

    .headingTypo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--g-32);

        h1,
        h2,
        h3,
        h4,
        h5 {
            display: flex;
            align-items: center;
            line-height: var(--g-72);

            &::before {
                margin-right: var(--g-16);
                font: var(--single-14-rg);
                background: rgba(255, 255, 255, 0.08);
                padding: var(--g-8);
                border-radius: var(--g-4);
                border: var(--border);
                border-color: var(--black);
            }
        }

        h1 {
            &::before {
                content: "h1";
            }
        }

        h2 {
            &::before {
                content: "h2";
            }
        }

        h3 {
            &::before {
                content: "h3";
            }
        }

        h4 {
            &::before {
                content: "h4";
            }
        }

        h5 {
            &::before {
                content: "h5";
            }
        }
    }
}

footer {
    width: 100%;
    border-top: var(--border) var(--black);
    margin-top: 160px;
    height: 480px;
}

.tableData {

    pre.hollow {

        code {
            background: none;
        }
    }
}